# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [58]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [59]:
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 3. Assign it to a variable called users.

In [71]:
users[users["occupation"]=='technician'].count()

user_id       27
age           27
gender        27
occupation    27
zip_code      27
dtype: int64

In [7]:
users=df

### Step 4. Discover what is the mean age per occupation

In [8]:
users.groupby(['occupation']).age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [82]:
# i=users.groupby(['occupation','gender'])['gender'].count()
# j=users.groupby(['occupation']).gender.count()
# (i/j).sort_values(ascending=False).xs('M',level=1)
#(users.groupby(['occupation','gender'])['gender'].count()/users.groupby(['occupation']).gender.count()).sort_values(ascending=False).xs('M',level=1)
(users.groupby(['occupation'])['gender'].value_counts(9)).sort_values(ascending=False).xs('M',level=1)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [ ]:
#or
((users[users.gender == 'M'].groupby(['occupation'])['gender'].count()/users.groupby(['occupation'])['gender'].count())
                .sort_values(ascending=False))

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby(["occupation"]).age.max()

In [ ]:
#users.groupby(["occupation"]).age.min()

minmax = users.groupby('occupation').agg({"age": [min, max]}) 
# Using ravel, and a string join, we can create better names for the columns:
#minmax.columns = ["_".join(x) for x in minmax.columns.ravel()]
minmax

### Step 7. For each combination of occupation and gender, calculate the mean age

In [83]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [85]:
users.groupby(['occupation'])['gender'].value_counts(normalize=True)*100

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: gender, dtype: float64

In [19]:
help(pd.value_counts)

Help on function value_counts in module pandas.core.algorithms:

value_counts(values, sort=True, ascending=False, normalize=False, bins=None, dropna=True)
    Compute a histogram of the counts of non-null values.

    Parameters
    ----------
    values : ndarray (1-d)
    sort : boolean, default True
        Sort by values
    ascending : boolean, default False
        Sort in ascending order
    normalize: boolean, default False
        If True then compute a relative histogram
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        convenience for pd.cut, only works with numeric data
    dropna : boolean, default True
        Don't include counts of NaN

    Returns
    -------
    value_counts : Series

In [21]:
a = (users.groupby(['occupation'])['gender'].value_counts())
a.__dict__

{'_is_copy': None, '_data': SingleBlockManager
 Items: MultiIndex(levels=[['administrator', 'artist', 'doctor', 'educator', 'engineer', 'entertainment', 'executive', 'healthcare', 'homemaker', 'lawyer', 'librarian', 'marketing', 'none', 'other', 'programmer', 'retired', 'salesman', 'scientist', 'student', 'technician', 'writer'], ['F', 'M']],
            codes=[[0, 0, 1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16, 17, 17, 18, 18, 19, 19, 20, 20], [1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]],
            names=['occupation', 'gender'])
 IntBlock: 41 dtype: int64, '_item_cache': {}, '_name': 'gender', '_subtyp': 'series', '_index': MultiIndex(levels=[['administrator', 'artist', 'doctor', 'educator', 'engineer', 'entertainment', 'executive', 'healthcare', 'homemaker', 'lawyer', 'librarian', 'marketing', 'none', 'other', 'programmer', 'retired', 'salesman', 'scientist', 'student', 'technician', 'writer'], ['F', 'M']],
            codes=[[0, 0, 1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16, 17, 17, 18, 18, 19, 19, 20, 20], [1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]],
            names=['occupation', 'gender'])}

In [36]:
b = (users.groupby(['occupation'])['gender'].value_counts(normalize=True))
b

occupation     gender
administrator  M         0.544304
               F         0.455696
artist         M         0.535714
               F         0.464286
doctor         M         1.000000
educator       M         0.726316
               F         0.273684
engineer       M         0.970149
               F         0.029851
entertainment  M         0.888889
               F         0.111111
executive      M         0.906250
               F         0.093750
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         M         0.833333
               F         0.166667
librarian      F         0.568627
               M         0.431373
marketing      M         0.615385
               F         0.384615
none           M         0.555556
               F         0.444444
other          M         0.657143
               F         0.342857
programmer     M         0.909091
               F         0.090909
retired        M         0.928571
               F         0.071429
salesman       M         0.750000
               F         0.250000
scientist      M         0.903226
               F         0.096774
student        M         0.693878
               F         0.306122
technician     M         0.962963
               F         0.037037
writer         M         0.577778
               F         0.422222
Name: gender, dtype: float64

In [35]:
a

occupation     gender
administrator  M          43
               F          36
artist         M          15
               F          13
doctor         M           7
educator       M          69
               F          26
engineer       M          65
               F           2
entertainment  M          16
               F           2
executive      M          29
               F           3
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         M          10
               F           2
librarian      F          29
               M          22
marketing      M          16
               F          10
none           M           5
               F           4
other          M          69
               F          36
programmer     M          60
               F           6
retired        M          13
               F           1
salesman       M           9
               F           3
scientist      M          28
               F           3
student        M         136
               F          60
technician     M          26
               F           1
writer         M          26
               F          19
Name: gender, dtype: int64

In [27]:
69/136

0.5073529411764706