In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def quicksort(arr):
    if len(arr)<=1:
        return arr
    pivot = arr[len(arr)//2]
    left = [x for x in arr if x<pivot]
    middle = [x for x in arr if x == pivot]
    right =  [x for x in arr if x> pivot]
    return quicksort(left) + middle + quicksort(right)
print (quicksort([3,5,6,2,9,7,5,10,1]))

[1, 2, 3, 5, 5, 6, 7, 9, 10]

In [3]:
mylist = list('rakeshmahatoandliveinfinland')
myarr = np.arange(28)
mydict = dict(zip(mylist,myarr))
mydict

{'r': 0,
 'a': 25,
 'k': 2,
 'e': 18,
 's': 4,
 'h': 8,
 'm': 6,
 't': 10,
 'o': 11,
 'n': 26,
 'd': 27,
 'l': 24,
 'i': 22,
 'v': 17,
 'f': 21}

In [4]:
ser1=pd.Series(mylist)
ser2=pd.Series(myarr)
ser3=pd.Series(mydict)
print(ser3)

r     0
a    25
k     2
e    18
s     4
h     8
m     6
t    10
o    11
n    26
d    27
l    24
i    22
v    17
f    21
dtype: int64

In [5]:
mylist1 = list('abcedfghijklmnopqrstuvwxyz')
myarrr = np.arange(26)
mydictt = dict(zip(mylist1, myarrr))
ser = pd.Series(mydictt)
ser.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [6]:
df=ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [7]:
x=True
y=False
print(x and
      y)

False

In [8]:
hello="Hello"
world="World"

hw = '{} {} {}'.format(hello, world, 12)
print(hw)

Hello World 12

In [9]:
animals= ['cat', 'dog', 'rat','monkey',2]

for i in animals:
    print(i)

cat
dog
rat
monkey
2

In [10]:
for idx, i in enumerate(animals):
    print("#{} {}".format(idx, animals))

#0 ['cat', 'dog', 'rat', 'monkey', 2]
#1 ['cat', 'dog', 'rat', 'monkey', 2]
#2 ['cat', 'dog', 'rat', 'monkey', 2]
#3 ['cat', 'dog', 'rat', 'monkey', 2]
#4 ['cat', 'dog', 'rat', 'monkey', 2]

In [11]:
num = [0,1,2,3,4,5]
square=[]
for i in num:
    square.append(i**2)
print(square)

[0, 1, 4, 9, 16, 25]

In [12]:
square=[i**2 for i in num ]

In [13]:
print(square)

[0, 1, 4, 9, 16, 25]

In [14]:
even_square=[i**2 for i in num if i%2==0]

In [15]:
print(even_square)

[0, 4, 16]

In [16]:
fruits={'Apple':[2,4,5,9,6], 'Orange':[4,6,7,9,7], 'Banana':[7,8,0,1,8],'grapes':[2,4,6,8,12]}
details=pd.DataFrame(fruits)
details

   Apple  Orange  Banana  grapes
0      2       4       7       2
1      4       6       8       4
2      5       7       0       6
3      9       9       1       8
4      6       7       8      12

In [17]:
namedetails=pd.DataFrame(fruits, index=['ram','shyam','hari',"jenny",'tomi'])

In [18]:
namedetails

       Apple  Orange  Banana  grapes
ram        2       4       7       2
shyam      4       6       8       4
hari       5       7       0       6
jenny      9       9       1       8
tomi       6       7       8      12

In [30]:
namedetails.loc['hari']

Apple     5
Orange    7
Banana    0
grapes    6
Name: hari, dtype: int64

In [28]:
namedetails.iloc[2:5]

       Apple  Orange  Banana  grapes
hari       5       7       0       6
jenny      9       9       1       8
tomi       6       7       8      12

In [50]:
exp = namedetails.to_csv (r'/Users/rakeshm/export_dataframe.csv') 
#Don't forget to add '.csv' at the end of the path

exp

In [53]:
dff=pd.read_csv('export_dataframe.csv')
dff

  Unnamed: 0  Apple  Orange  Banana  grapes
0        ram      2       4       7       2
1      shyam      4       6       8       4
2       hari      5       7       0       6
3      jenny      9       9       1       8
4       tomi      6       7       8      12

       Orange  Banana  grapes
Apple
2           4       7       2
4           6       8       4
5           7       0       6
9           9       1       8
6           7       8      12

In [ ]:
pd.read_